* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.contenedor {
    margin: auto;
    max-width: 1000px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.encabezado {
    background-color: rgba(51, 51, 51, 255);    
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 120px;
}

.nav {
    background-color: red;
    padding: 5px
}

.nav a {
    padding: 5px 20px;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

main {
    width: 70%;
    padding: 10px;
    background-color: aliceblue;
   
}

hr {
    margin: 10px 0px;
	width: 100%;
	height: 2px;
	border: 0;
	background: #0d0d0d;
}

aside {
    width: 30%;
    background-color: orange;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
aside img{
    width: 100%;
}
aside .aside1 {
    background-color: chocolate;
    padding: 20px;
    margin-bottom: 20px;
}

aside .aside2 {
    background-color: chocolate;
    padding: 20px;
}

footer {
    background-color: rgba(51, 51, 51, 255);
    color: white;
    padding: 20px;
    flex-grow: 1;
    order: 4;
    display: flex;
    justify-content: space-between;
}

.enlaces {
    background-color: rgba(255, 128, 0);

}

div a {
    color: white;
    padding: 5px;
    margin-top: 20px;
}

@media (max-width:800px){

}

@media (max-width:600px) {
    
}
