* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .contenedor{
        margin: auto;
        max-width: 1000px;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }
    .encabezado{
        background-color: gray;
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-wrap: nowrap;
        padding: 15px;
        justify-content: space-around;
        align-items: center;
    }
    .logo img{
        width: 120px;
    }
    .nav{
        background-color: red;
    padding: 5px
    }
    .nav a{
        padding: 5px 20px;
        color: white;
        text-decoration: none;
    }
    .nav a:hover{
        text-decoration: underline;
    }
    
